<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tranqsite</title>
    <link rel="stylesheet" href="./stylesheets/dark.css">
    <link rel="stylesheet" href="./stylesheets/hack.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body class="hack dark">
	<% if (successMessage) { %>
		<div class="alert alert-success"><%= successMessage %></div>
	<% } %>
	  
	<% if (errorMessage) { %>
		<div class="alert alert-error"><%= errorMessage %></div>
	<% } %>
	<div class="grid main-form">
		<div>
            <div class="card">
                <header class="card-header card-title-with-delete">
                    <div class="left-div">
                        <h1>Your API Token</h1>
                    </div>
                    <div class="right-div">
                        <a href="/generate-token"><button type="button" class="btn btn-primary"><i class="fa fa-refresh">Get Token</i></button></a>
                    </div>
                </header>
                <% tokens.forEach(function(t) { %>
                    <header class="card-header message-title"><%= t.token %></header>
                    <div class="card-content">
                        <div class="inner">Generated at <%= t.createdAt %></div>
                    </div>
                <% }); %>
                
            </div>
        </div>
	</div>
	<div class="footer">
		Valar Morghulis, ....
	</div>
</body>
</html>